
<app-index></app-index>

<app-contact></app-contact>

<!-- <div class="container">
    <h1>{{courseName}}</h1>
    <h3>{{5 + 4}}</h3>
    <h2>{{getCourseName()}}</h2>
    <h3>{{getFullName('Nouran' , 'Fayez')}}</h3>

    <input type="{{inputType}}" class="form-control" placeholder="Enter your password">

    <input [type]="inputType" [class]="className" placeholder="Enter your password" [disabled]="isDisabled">


    <p [innerText]="elementText"></p>
    <p>{{elementText}}</p>

    <h4 [style.color]="textRed">Lorem ipsum dolor sit amet.</h4>
    <h5 [style.color]="textColorFlag ? textRed : 'blue' ">Lorem ipsum dolor sit amet.</h5>

    <h6 [style.background]="getTextColor()">Lorem ipsum dolor sit amet.</h6>


    <img [src]="imgPath" alt="">

    <button (click)="handleChangeImage()">Change Image</button>

    
    
</div> -->

<router-outlet></router-outlet>
