<form class="row" [formGroup]="profile">
    <div class="col-12 col-md-6">
        <label >First Name</label>
        <input type="text" class="form-control" formControlName="customer_first_name">
    </div>
    <div class="col-12 col-md-6">
        <label >Last Name</label>
        <input type="text" class="form-control" formControlName="customer_last_name">
    </div>
    <div class="col-12 col-md-6">
        <label >Email</label>
        <input type="text" class="form-control" formControlName="customer_email">
    </div>

</form>